@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

.ant-select-item-option-selected {
  background-color: transparent !important; /* Bỏ màu nền xanh */
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  display: none; /* Ẩn dấu tích (đánh dấu đã chọn) */
}
.selectTest .ant-select-selection-item {
  background: white !important;
}
.selectTest .ant-select-selection-item-remove {
  display: none !important;
}
.ant-modal-content {
  padding: 0 !important;
  overflow: hidden;
}
.ant-pagination-item {
  border-radius: 30px !important;
  border: 1px solid #000 !important;
}
.ant-pagination-item-active {
  background-color: #f07525 !important;
  border: 1px solid #f07525 !important;
}
